<nav class="navbar">
  <div class="navbar-title">
     <a routerLink="/" routerLinkActive="active"> <h1>AutoGyn</h1></a>
  </div>
  <ul class="navbar-links">
    <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
    <a routerLink="/veiculos" routerLinkActive="active">Veículos</a>
    <a routerLink="/servicos" routerLinkActive="active">Serviços</a>
    <a routerLink="/estoque" routerLinkActive="active">Estoque</a>
    <a routerLink="/os" routerLinkActive="active" style="margin-right: 10px;">Ordens de Serviço</a>
  </ul>
</nav>

<router-outlet></router-outlet>

