.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 4 colunas por linha */
  gap: 1.5rem; /* Espaçamento entre os itens */
  width: 100%;
}

.card-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card {
  width: 200px; /* Largura fixa */
  height: 200px; /* Altura fixa */
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Responsividade */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas por linha */
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr; /* 1 coluna por linha */
  }
}
